.villagersByResourcesBlock {
    border: 2px solid #393e49;
    background-color: #161a23;
    width: 135px;
    height: 165px;
}

.resourceVillagerBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}

.resourceIcon {
    height: 40px;
}
