.counter {
    display:flex;
    justify-content: center;
    width: 70px;
    padding: 2px 0;
    color: #f3dc8d;
}

.counter-minus {
    border: 2px solid #f3dc8d;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    cursor: pointer;
}

.counter-minus:hover {
    background-color: black;
}

.counter-plus {
    border: 2px solid #f3dc8d;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}

.counter-plus:hover {
    background-color: black;
}

.counter-count {
    border-top: 2px solid #f3dc8d;
    border-bottom: 2px solid #f3dc8d;
}

.counter-block {
    text-align: center;
    /*background-color: gray;*/
    min-width: 15px;
}


