.counter {
    display:flex;
    justify-content: center;
    width: 70px;
    padding: 2px 0;
}

.counter-minus {
    border: 1px solid black;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    cursor: pointer;
}

.counter-minus:hover {
    background-color: white;
}

.counter-plus {
    border: 1px solid black;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}

.counter-plus:hover {
    background-color: white;
}

.counter-count {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.counter-block {
    text-align: center;
    background-color: gray;
    min-width: 15px;
}


