.upgradesBlock {
    padding-top: 5px;
}

.singleUpgrade {
    padding: 1px;
}

.upgradesRow {
    display: flex;
    gap: 10px;
}

.improvedUpgrades {
    display: flex;
    flex-flow: column;
    gap: 10px;
}
